.body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: black;

  .form {
    padding: 20px;
    height: 100%;
    width: 1020px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    >.footer {
      margin-top: auto;
    }
  }
}

@media(max-width: 720px){
  .form {
    width: 100%;
  }
}
